$color-text: #2C2C2C;
$color-text-sec: #696969;
$color-accent: #BBF330;
$color-accent-sec: #7EB101;
$color-bcg: #ffffff;
$color-bcg-sec: #FFE550;

$font-basic: 'Roboto', sans-serif;
$shadow: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
