<section class="hero section">
    <div class="container hero__container">
        <h1 class="hero__title section__title">Enjoy Your Favorite Food From Anywhere</h1>
        <div class="hero__wrapper">
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros
                elementum tristique.
                Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            </p>

            <button class="hero__btn-order">Order Now</button>
        </div>


        <!-- слайдер -->
        <div class="slider">
            <img srcset="
                                images/slider/slider-1-292.png 292w,
                                images/slider/slider-1-292@2x.png 584w,
                                images/slider/slider-1-528.png 528w,
                                images/slider/slider-1-528@2x.png 1056w"
                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
                src="./images/slider/slider-1-292.png" alt="фрикадельки с салатом">
            <button class="hero__btn-arrow-left">
                <svg class="icon">
                    <use href="./images/icons.svg#icon-arrow-l"></use>
                </svg>
            </button>
            <button class="hero__btn-arrow-right">
                <svg class="icon">
                    <use href="./images/icons.svg#icon-arrow-r"></use>
                </svg>
            </button>
        </div>

    </div>
</section>