<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <div class="hero__wrapper">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <button class="hero__btn-order" data-modal-open-2>Order Now</button>
    </div>

    <!-- слайдер -->
    <div class="slider">
      <div class="mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              srcset="
                images/slider/slider-1-292.png     292w,
                images/slider/slider-1-292@2x.png  584w,
                images/slider/slider-1-528.png     528w,
                images/slider/slider-1-528@2x.png 1056w
              "
              sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
              src="./images/slider/slider-1-292.png"
              alt="meatballs with salad"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                images/slider/slider-2-292.png     292w,
                images/slider/slider-2-292@2x.png  584w,
                images/slider/slider-2-528.png     528w,
                images/slider/slider-2-528@2x.png 1056w
              "
              sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
              src="./images/slider/slider-2-292.png"
              alt="salad"
            />
          </div>
          <div class="swiper-slide">
            <img
              srcset="
                images/slider/slider-3-292.png     292w,
                images/slider/slider-3-292@2x.png  584w,
                images/slider/slider-3-528.png     528w,
                images/slider/slider-3-528@2x.png 1056w
              "
              sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
              src="./images/slider/slider-3-292.png"
              alt="poached egg"
            />
          </div>
        </div>
      </div>

      <button class="swiper-button-prev"></button>
      <button class="swiper-button-next"></button>
    </div>
  </div>
</section>
