<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <div class="hero__wrapper">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <button class="hero__btn-order" data-modal-open-2>Order Now</button>
    </div>

    <!-- слайдер -->
    <div class="slider">
      <div class="mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  images/slider/slider-1-292.webp    1x,
                  images/slider/slider-1-292@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  images/slider/slider-1-292.png    1x,
                  images/slider/slider-1-292@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="
                  images/slider/slider-1-528.webp    1x,
                  images/slider/slider-1-528@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  images/slider/slider-1-528.png    1x,
                  images/slider/slider-1-528@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png"
              />
              <img
                src="./images/slider/slider-1-292.png"
                alt="meatballs with salad"
                width="292"
                height="292"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  images/slider/slider-2-292.webp    1x,
                  images/slider/slider-2-292@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  images/slider/slider-2-292.png    1x,
                  images/slider/slider-2-292@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="
                  images/slider/slider-2-528.webp    1x,
                  images/slider/slider-2-528@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  images/slider/slider-2-528.png    1x,
                  images/slider/slider-2-528@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png"
              />
              <img
                src="./images/slider/slider-2-292.png"
                alt="salad"
                width="292"
                height="292"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  images/slider/slider-3-292.webp    1x,
                  images/slider/slider-3-292@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  images/slider/slider-3-292.png    1x,
                  images/slider/slider-3-292@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="
                  images/slider/slider-3-528.webp    1x,
                  images/slider/slider-3-528@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  images/slider/slider-3-528.png    1x,
                  images/slider/slider-3-528@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png"
              />
              <img
                src="./images/slider/slider-3-292.png"
                alt="poached egg"
                width="292"
                height="292"
              />
            </picture>
          </div>
        </div>
      </div>

      <button class="swiper-button-prev"></button>
      <button class="swiper-button-next"></button>
    </div>
  </div>
</section>
