<section class="section offerings">
  <div class="offerings__container container">
    <!-- apple -->
    <div class="offerings__box--pic">
      <!-- <img
        class="offerings__picture--lg"
        src="./images/hero/apple-396.png"
        alt="Apple"
        width="550"
      /> -->
      <img
        class="offerings__picture--mobile"
        src="./images/hero/apple-202.png"
        alt="Apple"
        width="201"
      />
      <!-- <img
        class="offerings__picture--sm .is-hidden"
        src="./images/hero/apple-108.png"
        alt="Apple"
        width="108"
      /> -->
    </div>
    <!-- title + text -->
    <div class="offerings__box--title">
      <h2 class="offerings__title section__title">
        What&#8217;s Special About Our Offerings
      </h2>
      <p class="offerings__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <!-- abbout -->
      <div class="offerings__box--abbout">
        <ul class="offerings__list">
          <li class="offerings__item">
            <svg class="offerings__icon" width="27" height="27">
              <use href="./images/icons.svg#icon-rocket"></use>
            </svg>
            <h3 class="offerings__subtitle">Fasest Delivery</h3>
            <p class="offerings__subtext">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
        </ul>
        <ul class="offerings__list">
          <li class="offerings__item">
            <svg class="offerings__icon" width="21" height="28">
              <use href="./images/icons.svg#icon-touch"></use>
            </svg>
            <h3 class="offerings__subtitle">Easy to order</h3>
            <p class="offerings__subtext">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
        </ul>
      </div>
      <!-- button + anchor  -->
      <div class="offerings__box--btn-link">
        <button class="offerings__btn-order" type="button">Order Now</button>
        <a class="offerings__link" href="">Read More</a>
      </div>
    </div>
  </div>
</section>
