<section class="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__case">
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <div class="subscribe__box">
        <form class="subscribe__form" name="subscribe__name" autocomplete="on">
          <input
            class="subscribe__input"
            type="email"
            name="subscribe__email"
            placeholder="Enter your email"
          />
          <button class="subscribe__btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
