<section class="subscribe section">
<div class="container container__subscribe">
    <div class="subscribe__box__photo">
    <picture>
    <source media="(min-width: 1280px)" 
    srcset="./images/customers/banan-546.png 1x,
    ./images/customers/banan-546@2x.png 2x" 
    type="image/png"/>
    <source media="(min-width: 768px)" 
    srcset="./images/customers/banan-281.png 1x,
        ./images/customers/banan-281@2x.png 2x" 
        type="image/png"/>
    <source media="(max-width: 767px)" 
    srcset="./images/customers/banan-161.png 1x,
            ./images/customers/banan-161@2x.png 2x" 
            type="image/png"/>
    <img class="subscribe__photo" src="./images/customers/banan-161.png" 
    width="546"
    height="266"
    alt="banana photo">
    </picture>
    </div>
    <div class="subscribe__case">
    <h2 class="subscribe__title section__title">
        Subscribe To Get Special Offers
    </h2>
    <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
        in eros elementum tristique.
    </p>
    <div class="subscribe__box">
        <form class="subscribe__form" name="subscribe__name" autocomplete="on">
            <input class="subscribe__input" type="email"  name="subscribe__email" placeholder="Enter your email">
            <button class="subscribe__btn" type="submit">Subscribe</button>
        </form>
    </div>
    </div>
</div>
</section>