<header class="page-header" id="home">
  <div class="page-header__container">
    <a href="">
      <img src="./images/logo.svg" alt="logo" width="66" height="52" />
    </a>

    <button type="button" class="mobile-menu-button" data-menu-btn>
      <svg width="28" height="28">
        <use class="icon" href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <nav data-menu class="nav is-closed">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link" data-home>Home</a>
          <svg
            width="11"
            height="11"
            class="icon-mobile-close"
            viewbox="0 0 15 15"
          >
            <use class="icon" href="./images/icons.svg#icon-modal-close"></use>
          </svg>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link" data-about>About</a>
        </li>
        <li class="nav__item">
          <a href="#service" class="nav__link" data-service>Service</a>
        </li>
        <li class="nav__item">
          <a href="#menu" class="nav__link" data-menu>Menu</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link" data-contact>Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="button-order-nav" data-modal-open-1>
      Order Now
    </button>
  </div>
</header>
