<header class="page-header">
  <div class="page-header__container">
    <img
      srcset="./images/logo.jpg 1x, ./images/logo@2x.jpg 2x"
      src="./images/logo.jpg"
      alt="logo"
      width="66"
    />

    <button type="button" class="mobile-menu-button" data-menu-btn>
      <svg width="28" height="28">
        <use class="icon" href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <nav data-menu class="nav is-closed">
      <ul class="nav__list">
        <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
        <li class="nav__item">
          <a href="#service" class="nav__link">Service</a>
        </li>
        <li class="nav__item"><a href="#menu" class="nav__link">Menu</a></li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="button-order-nav" data-modal-open-1>
      Order Now
    </button>
  </div>
</header>
