<footer class="footer" id="contact">
  <div class="footer__container">
    <div class="footer__box--first">
      <!-- логотип футеру -->
      <div class="footer__box-wrap">
        <a href="./">
          <img src="./images/logo.svg" alt="logo" width="66" height="52" />
        </a>

        <!-- навігація футеру -->
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#home">Home</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#about">About</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#service">Service</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#menu">Menu</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>

      <!-- форма підписки у футері -->
      <div class="footer-sub">
        <p class="footer-sub__title">Subscribe</p>

        <div class="footer-sub__box">
          <form class="footer-sub__form" name="footer-form" autocomplete="on">
            <input
              class="footer-sub__input"
              type="email"
              name="subscription"
              required
              pattern="^([^ ]+@[^ ]+\.[a-z]{2,6}|)$"
              placeholder="Enter your email"
            />
            <div class="footer-sub__validation">
              <svg class="footer-sub__validation--icon" width="12" height="12">
                <use href="./images/icons.svg#frame-icon"></use>
              </svg>
              <span class="footer-sub__validation--text"
                >Not a valid email address (example@email.com)</span
              >
            </div>

            <button class="footer-subscription-button" type="submit">
              Subscribe
            </button>
          </form>
        </div>

        <p class="footer-sub__agreement">
          By subscribing you agree to with our
          <a
            class="footer-sub__agreement--link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            >Privacy Policy</a
          >
        </p>
      </div>
    </div>

    <!-- документація з додатковою інформацією -->
    <div class="footer__box--second">
      <ul class="footer-docs__list">
        <li class="footer-docs__item">
          <a class="footer-docs__link" href="./">Privacy Policy</a>
        </li>
        <li class="footer-docs__item">
          <a class="footer-docs__link" href="">Terms of Service</a>
        </li>
        <li class="footer-docs__item">
          <a class="footer-docs__link" href="">Cookies Settings</a>
        </li>
      </ul>

      <p class="footer__copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
