<!-- Модальное окно - Заказать срочно -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-form">
    <button
      type="button"
      class="button-close"
      aria-label="Закрыть окно заказа"
      data-modal-close
    >
      <svg class="icon icon-close">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>

    <form class="form">
      <h3 class="form__title">Order form</h3>

      <div class="form__field form__field--first">
        <label class="form__label" for="name">Name</label>
        <input
          type="text"
          name="name"
          class="form__input"
          placeholder="Your name"
        />
      </div>

      <div class="form__field">
        <label class="form__label" for="phone">Phone</label>
        <input
          type="tel"
          name="phone"
          class="form__input"
          placeholder="+38(0_ _) _ _ _  _ _  _ _"
        />
      </div>

      <div class="form__field">
        <label class="form__label" for="email">Email </label>
        <input
          type="email"
          name="email"
          class="form__input"
          placeholder="example@gmail.com"
        />
      </div>

      <button type="submit" class="button-order-modal">Send</button>
    </form>
  </div>
</div>
