<!-- Модальное окно - Заказать срочно -->
<div class="backdrop" data-modal>
  <div class="modal-form">
    <button
      type="button"
      class="button-close"
      aria-label="Закрыть окно заказа"
      data-modal-close
    >
      <svg class="icon icon-close">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>

    <form class="form">
      <h3 class="form__title">Leave your data, we will recall</h3>

      <div class="form__field form__field--first">
        <label class="form__label"
          >Name
          <input type="text" name="name" class="form__input" />
          <svg class="icon form__icon">
            <use href="./images/icons.svg#icon-modal-person"></use>
          </svg>
        </label>
      </div>

      <div class="form__field">
        <label class="form__label"
          >Phone
          <input type="tel" name="phone" class="form__input" />
          <svg class="icon form__icon">
            <use href="./images/icons.svg#icon-modal-phone"></use>
          </svg>
        </label>
      </div>

      <!-- <div class="form__field">
        <label class="form__label"
          >Email
          <input type="email" name="email" class="form__input" />
          <svg class="icon form__icon">
            <use href="./images/icons.svg#icon-modal-email"></use>
          </svg>
        </label>
      </div> -->

      <p class="form__label">Which dished are you interested in</p>
      <div class="form__field--dishes">
        <label class="policy-agree__label">
          <input
            type="checkbox"
            name="course1"
            class="checkbox visually-hidden"
          />
          <span class="checkbox-my"></span>1 course
        </label>
        <label class="policy-agree__label">
          <input
            type="checkbox"
            name="course2"
            class="checkbox visually-hidden"
          />
          <span class="checkbox-my"></span>2 course
        </label>
        <label class="policy-agree__label">
          <input
            type="checkbox"
            name="dessert"
            class="checkbox visually-hidden"
          />
          <span class="checkbox-my"></span>dessert
        </label>
        <label class="policy-agree__label">
          <input
            type="checkbox"
            name="beverages"
            class="checkbox visually-hidden"
          />
          <span class="checkbox-my"></span>beverages
        </label>
      </div>

      <div class="form__field">
        <label class="form__label"
          >Comments
          <textarea
            class="form__textarea"
            name="comment"
            rows="5"
            placeholder="Type your comments"
          ></textarea>
        </label>
      </div>

      <div class="policy-agree">
        <label class="policy-agree__label">
          <input
            type="checkbox"
            name="policy-agree"
            class="checkbox visually-hidden"
          />
          <span class="checkbox-my"></span>Agree with&nbsp;
          <a href="#" class="policy-agree__link">Agreement&nbsp;terms</a>
        </label>
      </div>

      <button type="submit" class="button-order-modal">Order now</button>
    </form>
  </div>
</div>
