.favorites {
  @extend .section;

  &__title {
    @extend .section__title;
    text-align: center;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: $color-text;

    margin-bottom: 60px;

    @media screen and(min-width: 768px) {
      font-size: 16px;
      line-height: calc(19 / 16);
    }

    @media screen and(min-width: 1280px) {
      margin-bottom: 60px;
    }
  }

  &__list {
    @extend .list;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and(max-width: 767px) {
      justify-content: center;
    }

    @media screen and(min-width: 768px) {
      gap: 32px;
    }
  }
}

.favorites__item {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 32px * (2 - 1)) / 2);
  }

  @media screen and(min-width: 1280px) {
    flex-basis: calc((100% - 32px * (3 - 1)) / 3);
  }

  &:nth-child(n + 4) {
    @media screen and(max-width: 767px) {
      display: none;
    }
  }
}

.favorites__thumb {
  border: 11px solid $color-bcg-sec;
  transition: border-color $duration $timing-function;

  @media screen and(max-width: 767px) {
    width: 280px;
    padding: 18px 17px;
    border-radius: 140px;
  }

  @media screen and(min-width: 768px) {
    padding: 20px;
    border-width: 14px;
    border-radius: 168px;
  }

  @media screen and(min-width: 1280px) {
    padding: 25px 24px;
    border-width: 16px;
    border-radius: 198px;
  }

  &:hover,
  &:focus {
    border-color: $color-accent;
  }
}
