.favorites {
  &__title {
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: $color-text;

    margin-bottom: 60px;

    @media screen and(min-width: 768px) {
      font-size: 16px;
      line-height: calc(19 / 16);
    }

    @media screen and(min-width: 1280px) {
      margin-bottom: 60px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and(max-width: 767px) {
      justify-content: center;
    }

    @media screen and(min-width: 768px) {
      gap: 32px;
    }
  }
}

.favorites__item {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 32px * (2 - 1)) / 2);
  }

  @media screen and(min-width: 1280px) {
    flex-basis: calc((100% - 32px * (3 - 1)) / 3);
  }

  &:nth-child(n + 4) {
    @media screen and(max-width: 767px) {
      display: none;
    }
  }
}

.favorites__thumb {
  border-radius: 50%;
  border: 11px solid $color-bcg-sec;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(max-width: 767px) {
    width: 280px;
    padding: 18px 17px;
  }

  @media screen and(min-width: 768px) {
    border-width: 14px;
    padding: 20px;
  }

  @media screen and(min-width: 1280px) {
    border-width: 16px;
    padding: 25px 24px;
  }

  &:hover,
  &:focus {
    border-color: $color-accent;
  }
}
