.footer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 767px){
        background-image: url(.././images/footer/footer-bcg-320.jpg);
    }
    
    @media screen and (min-width: 768px){
        background-image: url(.././images/footer/footer-bcg-768.jpg);
    }
} 
.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__box--first{
    display: block;
}

.footer__box-wrap {
    display: flex;
    
}

.footer-nav__list{
    display: flex;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;

    @media screen and (max-width: 767px){
        flex-direction: column;
        gap: 20px;
        margin-left: 81px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px){
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        gap: 28px;
        margin-left: 116px;
        margin-bottom: 57px;
    }
}

.footer-sub__title{
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;

    color: $color-text;
}

.footer-sub__input{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    background: #FFFFFF;
    border: 0.85px solid $color-bcg-sec;
    border-radius: 30px;

    &::placeholder{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;

        color: $color-text-placeholder;
    }

    @media screen and (max-width: 767px){
        width: 100%;
        height: 42px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px){
        width: 279px;
        margin-right: 13px;
    }

    
}

.footer-subscription-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    cursor: pointer;
    min-width: 103px;
    min-height: 42px;
    padding: 11px 22px;
    margin-left: auto;
    margin-right: 0;

    color: $color-text;
    background: #FFFFFF;
    border: 0.85px solid $color-accent-sec;
    border-radius: 30px;

    @media screen and (max-width: 767px){
        margin-bottom: 20px;
    }

    
}

.footer-sub__agreement{
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: $color-text;

    @media screen and (max-width: 767px){
        margin-bottom: 60px;
    }

    &--link{
        color: $color-accent-sec;
        text-decoration: underline;
    }
}


.footer-docs{
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: $color-accent-sec;
    text-decoration: underline;

    @media screen and (max-width: 767px){
        width: 100%;
        display:inline-flex;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 40px;
    }
}

.footer__copyright{
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: $color-text;
}