.page-header__container {
  @extend .container;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.mobile-menu-button {
  margin-left: auto;
  width: 28px;
  height: 28px;
  border: none;
  background-color: $color-bcg;
  padding: 0;
  color: $color-accent-sec;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-button:active {
  color: $color-bcg-sec;
}

.nav {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.nav__list {
  list-style: none;
  font-size: 16px;
  overflow: hidden;
  background: $color-bcg;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 130px;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__link {
  display: block;

  color: #000;
  text-decoration: none;
  transition: background-color $duration $timing-function,
  color $duration $timing-function,
  text-decoration $duration $timing-function;

  @media screen and (max-width: 767px) {
    padding: 16px;
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 28px;
    font-size: 14px;
  }
}

.nav__link:hover {
  @media screen and (max-width: 767px) {
    background-color: $color-accent;
  }

  @media screen and (min-width: 768px) {
    color: $color-accent;
    text-decoration: underline;
  }
}

.button-order-nav {
  margin-left: 28px;
  width: 100px;
  height: 32px;
  background: $color-accent;
  border-radius: 30px;
  font-size: 14px;
  border: none;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
