.hero {
  @extend .section;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}

.hero__container {
  @extend .container;
  position: relative;
  @media screen and (min-width: 1280px) {
    position: relative;
    display: block;
  }
}

.hero__title {
  @extend .section__title;

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    max-width: 537px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 160px;
    display: inline-block;
    max-width: 502px;
  }
}

.hero__wrapper {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    max-width: 336px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 502px;
  }
}

.hero__text {
  margin-top: 28px;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $color-text;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    margin-top: 44px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 28px;
    margin-bottom: 40px;
  }
}

.hero__btn-order {
  @extend %button;
  font-weight: 500;
  line-height: 1.5;
  padding: 6px 18px;
  background: $color-accent;
  transition: $duration $timing-function;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    position: absolute;
    bottom: -75px;
    left: 32px;
  }
}

.hero__btn-order:hover,
.hero__btn-order:focus {
  background: $color-btn-hover;
}

.slider {
  display: none;
  transition: $duration $timing-function;
  @media screen and (min-width: 768px) {
    position: absolute;
    display: block;
    max-width: 320px;
    border-radius: 50%;
    right: 32px;
    top: 85px;
    border: 14px solid $color-bcg-sec;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 30px;
    top: 14px;
    max-width: 580px;
    border: 26px solid $color-bcg-sec;
  }
}

.slider:hover {
  border-color: $color-accent;
}

.mySwiper {
  border-radius: 50%;
  overflow: hidden;
}

.hero__btn-arrow-left,
.hero__btn-arrow-right {
  width: 34px;
  height: 28px;
  padding: 0;
  vertical-align: middle;
  position: absolute;
  color: rgba(44, 44, 44, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background: $color-bcg;
  border: none;
  top: 45%;
  border-radius: 4px;
  @media screen and (min-width: 1280px) {
    border-radius: 8px;
    width: 48px;
    height: 40px;
  }
}

.hero__btn-arrow-left {
  left: -25px;
  @media screen and (min-width: 1280px) {
    left: -45px;
  }
}

.hero__btn-arrow-right {
  right: -25px;
  @media screen and (min-width: 1280px) {
    right: -40px;
  }
}

.hero__icon {
  width: 11px;
  height: 20px;
  vertical-align: middle;
  @media screen and (min-width: 1280px) {
    width: 15px;
    height: 30px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  width: 34px;
  height: 28px;
  padding: 0;
  vertical-align: middle;
  position: absolute;
  color: rgba(44, 44, 44, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background: $color-bcg;
  border: none;
  border-radius: 4px;
  @media screen and (min-width: 1280px) {
    border-radius: 8px;
    width: 48px;
    height: 40px;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  transition: $duration $timing-function;
  @media screen and (min-width: 1280px) {
    font-size: 22px;
  }
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after,
.swiper-button-next:focus:after,
.swiper-button-prev:focus:after {
  color: $color-accent-sec;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.swiper-button-next {
  right: -25px;
  @media screen and (min-width: 1280px) {
    right: -40px;
  }
}

.swiper-button-prev {
  left: -25px;
  @media screen and (min-width: 1280px) {
    left: -40px;
  }
}
